.book-list-item {
    display: flex;
}
.book-list-item  > .book-cover > .cover-image {
    width: 9rem;
    height: 13rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.book-list-item > .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    align-items: flex-start;
}

.book-details > .title {
    font-size: 1.4rem;
    font-weight: 700;
}

.book-details > .price {
    font-size: 1.5rem;
    font-weight: 500;

}


@media(min-width: 992px) {
    .book-list-item  > .book-cover > .cover-image {
        width: 10rem;
    }
}
